.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.border{
}

.test{
  float: right;
  margin-top: 15px;
}

.test:hover ,.test-2:hover{
  color: #A3E3E9;

}

.test-2{
  float: right;
  margin-right: 15px;
  margin-top: 15px;

}

.left{
  float:left;
  margin-top: 15px;
  margin-right: 15px;
  color: rgb(165, 165, 165);
}

.left-found{
  float:left;
  margin-top: 15px;
  margin-right: 15px;
  color: #A3E3E9;
}


input{
  height: 25px;
  width: 80%;
  border-radius: 2.5rem;
  margin-right: 10px;
  margin-left: 20px;
  font-family: 'DM Sans', sans-serif;
  padding-left: 5%;
  border: 3px solid #455963;
}

input:hover, input:focus, input:active{
  outline: none;
}

.delete{
  font-size: 20px;
}

.delete-alt{
  font-size: 20px;
  margin: 0 auto;
  margin-left: 15px;
  color: white;
}

div.navbar{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  background: rgba(77, 77, 77, 0.5);
  padding: 15px;
  border-radius: 2.5em;
  margin-bottom: 35px;
  opacity: 1;
}

div.navbar-hide{
  display: block;
  margin: 0 auto;
  text-align: center;
  background: grey;
  width: 50%;
  padding: 15px;
  border-radius: 2.5em;
  margin-bottom: 35px;
  opacity: 0;

}

::selection {
  background-color: #352e7e;
  color: #fff;
}

.logo{
  width: 50%;
  display: block;
  margin: 0 auto;
}